{% extends "admin/layout_admin.html" %}
{% block content %}

<h3>Secretarias</h3>

<form method="POST" class="row g-3 mb-4">
    <div class="col-md-3">
        <input class="form-control" name="sigla" placeholder="Sigla (ex: SMS)" required>
    </div>

    <div class="col-md-6">
        <input class="form-control" name="nome" placeholder="Nome da Secretaria" required>
    </div>

    <div class="col-md-3">
        <button class="btn btn-primary w-100">Cadastrar</button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr><th>Sigla</th><th>Nome</th></tr>
    </thead>
    <tbody>
        {% for s in secretarias %}
        <tr>
            <td>{{ s.sigla }}</td>
            <td>{{ s.nome }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
